.todo-list-container {
  &__list {
    padding-bottom: 16px;
    border-bottom: 1px #d3d3d3 solid;
    margin-bottom: 4px;
  }
  &__add {
    text-align: center;
    button {
      border: 0;
      background-color: transparent;
      font-size: 32px;
      color: #888888;
      padding: 0 12px;
      line-height: 1.2;
      cursor: pointer;
    }
  }
}